/*My album page's external stylesheet */

	.basic {
		font-family: arial ;
	}
/*album image as background image is here */
	.albumCover {
		background: url("https://upload.wikimedia.org/wikipedia/en/c/ca/ExileMainSt.jpg");
		margin: auto;
		width: 250px;
		height: 250px;
	}
/*embeded font is here */
	@font-face {
		font-family: "New Rocker";
		font-style: normal;
		font-weight: 400;
		src: url(https://fonts.googleapis.com/css?family=New+Rocker);
	}
	.rockerText { 
		font-family: 'New Rocker', cursive;
	}
	table {
		border-collapse: collapse;
	}
	ul {
			color: #ffffff;
			background-color: red;
			font-weight: bold;
/*italic font for band members is here */
			font-style: italic;
			list-style-image: url('giphy.gif');
			border-collapse: collapse;
			border: 3px solid black;
		}
	.center {
		margin: auto;
		width: 33.3%;
		border: 1px solid #ffffff;
		padding: 2px;
		}
	
/*	table, th, td {
		border: 2px solid black;
		padding: 4px;
	}
table background color is gray and the table body text is in italics 	
	tbody {
		background-color: #ccc;
		font-style: italic;
	}*/
	a {
		font-family: arial ;
		text-decoration: none;
		font-weight: none;
	}

	a:link {
		color: Blue;
	}

	a:visited {
		color: Red;
	}
/*hover link underlined and background color changed */
	a:hover {
		text-decoration: underline;
		font-weight: bold;
		color: Blue;
		background-color: Gray;
	}
	a:active {
		font-weight: bold;
		color: Blue;
		text-decoration: none;
	}