/*external StyleSheet for Lucky Sevens Lab */

h1, h3, p, div {
	text-align: center;
}

table, tbody, thead, tr, td, th{
	text-align: center;
	border: black 1px solid;
}
table {
	max-width: 800px;
	margin: auto auto;
}
th {
	background-color: green;
	color: white;
}
th, td {
	padding: 4px 10px 4px 10px;
}
tbody {
	background-color: #4dff4d;
	color: white;
}
caption {
	font-size: 16pt;
	color: black;
	font-weight: bold;
	text-align: center;
}