	/* External Stylesheet for restaurant V2 lab */

	.navmenu {
		background-color: #00cc00;
		border-bottom: black solid 2px;
		border-top: black solid 1px;
		box-shadow: inset 0 36px 36px -36px rgba(0, 0, 0, 1);
		padding-bottom: 15px;
		padding-top: 25px;
		padding-left: 5px;
	}
/*background color for the menu background and the home page content */
	/*.bodyColor {
		background-color: #80ff80;
	}*/
	.footer {
		background-color: #00cc00;
		border-bottom: black solid 2px;
		border-top: black solid 1px;
		box-shadow: inset 0 36px 36px -36px rgba(0, 0, 0, 1);
		margin: auto;
		width: 100%;
		text-align: center;
	}	
/*Hosted font for the restaurant name */	
	@font-face {
		font-family: "Lobster";
		font-style: normal;
		font-size: 400
		src:url(https://fonts.googleapis.com/css?family=Lobster);
	}
	.titleFont {
		font-family: "Lobster", cursive;
	}
	.font {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	a {
		text-decoration: underline;
		font-weight: none;
	}

	a:link {
		color: white;
		background-color: #00cc00;
		text-shadow: text-shadow: 1px 1px #e5ffe5;
	}
/*visited links are gray and all others are white */
	a:visited {
		color: gray;
		background-color: #00cc00;
		text-shadow: text-shadow: 1px 1px #e5ffe5;
	}
	
	a:hover {
		color: white;
		font-weight: bold; 
		text-shadow: text-shadow: 1px 1px #e5ffe5;
	}
/* active links are not underlined	*/
	a:active {
		text-decoration: none;
		background-color: #00cc00;
	} */